CS232 - Programming Languages/Lab4/ciML.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="catalog">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="year">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="semester" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="mjrprogram">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Physics">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="classes" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="description">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="category" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element type="xs:byte" name="unitweight"/>
                                            <xs:element type="xs:string" name="professor"/>
                                            <xs:element name="date">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="days"/>
                                                  <xs:element type="xs:string" name="time"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute type="xs:short" name="category" use="optional"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="CMPSCI">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="classes" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="description">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="category" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element type="xs:byte" name="unitweight"/>
                                            <xs:element type="xs:string" name="professor"/>
                                            <xs:element name="date">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="days"/>
                                                  <xs:element type="xs:string" name="time"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute type="xs:short" name="category" use="optional"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Math">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="classes" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="description">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="category" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element type="xs:byte" name="unitweight"/>
                                            <xs:element type="xs:string" name="professor"/>
                                            <xs:element name="date">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="days"/>
                                                  <xs:element type="xs:string" name="time"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute type="xs:short" name="category" use="optional"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="category" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:short" name="year"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>